.container{
    background-image: url('../../static/img/43cc71bb1b43.png');
    width: 454px;
    height: 618px;
    background-size: 454px 618px;
    margin-top: 30px;
    margin-right: -15px;
}

@media (max-width: 874px){
    .container{
        display: none;
    }
}