.container{
    display: flex;
    margin-bottom: 90px;
    padding-top: 40px;
}

@media (max-width: 874px){
    .container{
        justify-content: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}