.outer{
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    background-color: white;
    position: fixed;
    border: 1px solid #dbdbdb;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
    max-width: 930px;
    margin: auto;
}

.right{
    display: flex;
    align-items: center;
}

.divider{
    width: 1px;
    height: 30px;
    background-color: black;
    margin: auto 20px;
}

.logo{
    width: 100px;
}

.icon{
    margin: auto 15px;
    font-size: 24px;
}

.instagramLogo{
    width: 30px;
}

.left{
    display: flex;
    align-items: center;
}