.container {
position: relative;

}

label{
    color: #999;
    font-size: 12px;
    position: absolute;
    left: 8px;
    top: 16px;
    transition: all 0.1s ease-out;
}

input{
    box-shadow: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    font-weight: 400;
    background: #fafafa;
    padding: 10px 0px 7px 8px;
    text-overflow: ellipsis;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 5px auto;
    height: 39px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
}